<!DOCTYPE html>
<html>

<head>
  <title>Dare Not Bend</title>
  <link rel="stylesheet" href="../styles/starter.css">
  <link rel="stylesheet" href="../styles/helper.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  
</head>

<body>
  
  <h1 class="Helper-title" style="text-align: center; margin-top: 10%;">Dare Not Bend Metrics</h1>
  <br>
  <div style="display: flex; justify-content: center;">
  <canvas id="myChart" style="justify-content: center; width:100%;max-width:700px"></canvas>
</div>

<script type="module" src="../scripts/graph.js"></script>
 </body>



</html>